@{
    var success = TempData["Success"] as string;
    var error = TempData["Error"] as string;
}
@if (!string.IsNullOrWhiteSpace(success))
{
    <div class="container mb-3">
        <div class="alert alert-success d-flex align-items-center border-2 border-success" role="alert">
            <i class="bi bi-check-circle-fill me-2"></i>
            <div>@success</div>
        </div>
    </div>
}
@if (!string.IsNullOrWhiteSpace(error))
{
    <div class="container mb-3">
        <div class="alert alert-danger d-flex align-items-center border-2 border-danger" role="alert">
            <i class="bi bi-exclamation-triangle-fill me-2"></i>
            <div>@error</div>
        </div>
    </div>
}